html, body, #app, #app>div {
  height: 100%
}

.App {
  text-align: center;
}

#particle-js {
  position:fixed !important; 
  height: 100vh;
  width: 100%;
  z-index: -100;
  top: 0;
  left: 0;
}

.HeaderTextLgB {
  font-family: DMSans-Bold;
  font-size: 4em;
  opacity: 0; 
  animation: fadeInUp 1s ease-in-out 0s forwards;
  margin: 0px !important; 
}

.HeaderTextMB {
  font-family: DMSans-Bold;
  font-size: 2.5em; 
  opacity: 0;
  animation: fadeInDown 1s ease-in-out 0s forwards;
  animation-delay: 1s; 
  margin: 0px !important;
}

.ContainerStyle {
  margin: auto;
  height: 100vh; 
}

.ScrollableContainer {
  margin-top: 30px; 
  height: 100vh; 
  overflow-y: scroll; 
}

.MarginTop {
  margin-top: 10em !important; 
}

.SearchBarStyle {
  margin-top: 3em; 
}

.IconStyle {
  font-size: 50px;
}

.ButtonText {
  font-family: DMSans-Medium;
  font-size: 1.5em; 
}

.MetaText {
  font-family: DMSans-Medium;
  font-size: 1.25em; 
}

.DescriptText {
  font-family: DMSans-Medium;
  font-size: 1.5em; 
}

.ActorsText {
  font-family: DMSans-Medium;
  font-size: 1.25em
}

.BackButton {
  float: left; 
  padding-top: 30px; 
}

.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: 20% !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}












@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,100%,0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; 
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,-80%,0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; 
  }
}
